/* global */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: aquamarine;
    color:white;
    font-family: 'Roboto', sans-serif;
}

/* utilities */
.clearfix::after{
    display: table;
    clear: both;
    content: "";
}

a{
    text-decoration: none;
    color:white;
}
.container{
    width:80%;
    margin:auto;
}
p{
    color: #808080;
}
/* ----------------
      HEADER
 ------------------*/

header{
    height:550px;
    background-color: #0c325a;
    background-image: url("../img/background-header.png");
    background-size:70%;
    background-repeat: no-repeat;
    background-position: 115% 110%;
}
/* NAVBAR */
nav{
    height: 60px;
    line-height: 60px;
}
.logo{
   float: left;
   padding-top: 24px;
}
/* menubar */
.menubar{
    float: left;
    margin: 0 0 0 50px;
}
.menubar>ul>li{
    list-style: none;
    display: inline-block;
    margin:0 10px;  
}
.menubar, .call2act{
    font-size: 0.7rem;
    position:relative;
    top: 20px;
}
/* call2action */
.call2act{
    float: right;
}
.call2act>a,.login{
    margin:10px;
}
.login{
    font-size: 0.7rem;
    padding:8px 30px;
    border: 1px solid white;
    border-radius: 5px;
    background-color:  #0c325a;
}
.greenbtn{
    font-size: 0.7rem;
    padding:8px 10px;
    border-radius: 5px;
    border:none;
    background-color:  #7cbb02;
}

/* mainclaim */
.main_claim{
    position:relative;
    top:20%;
    
}
h1{
    width: 50%;
   margin:40px 0;
    font-size: 3.2rem;
}
.main_claim > .greenbtn{
    padding: 22px;
    font-size: 0.8rem;
}

/* ----------------
      MAIN
 ------------------*/

 /* main title */

 .main_title{
     height: 150px;
     background-color: #d3d3d3 ;
     text-align: center;
     position: relative;

    
 }
 .center{
     width: 100%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}
h2{
    color: black;
    font-size: 1.6rem;
    margin-bottom:20px ;
    line-height: 50%;
}
 h5{
    color: #808080;
    font-size: 1.1rem;
   
}